# Compiled
*.elc
*.el

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# package directory
elpa


# Other directories generated

abbrev_defs
anaconda-mode/
eshell/
helm-adaptive-history
ido.last
init.bak
projectile-bookmarks.eld
recentf
tramp
